html, body{
height:100%;
margin:0;
font-family:Segoe UI;
}

body{
display:flex;
flex-direction:column;
}

/* MAP */
#map{
flex:1;
}

/* TOPBAR */
.topbar{
height:60px;
background:#2c3e50;
color:white;
display:flex;
align-items:center;
padding:0 15px;
}

.left{
display:flex;
align-items:center;
}

.logo{
height:28px;
margin-right:10px;
}

.title h3{
margin:0;
font-size:15px;
}

.title span{
font-size:11px;
}

/* PANEL */
.info-panel{
position:absolute;
top:80px;
left:15px;
width:260px;
background:white;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
z-index:1000;
}

.info-header{
background:#2c3e50;
color:white;
padding:8px;
display:flex;
justify-content:space-between;
}

#info-content{
padding:10px;
font-size:13px;
}

.hidden{
display:none;
}

/* LABEL JALAN */
.label-jalan{
background:red;
color:white;
padding:3px 8px;
border-radius:20px;
font-size:11px;
}

/* MOBILE */
@media(max-width:768px){

.logo{
height:24px;
}

.info-panel{
width:90%;
left:5%;
top:auto;
bottom:20px;
}

}
