html,body{
margin:0;
height:100%;
font-family:Segoe UI;
}

#map{
height:100%;
}

/* TOPBAR */
.topbar{
position:absolute;
top:0;
left:0;
right:0;
height:60px;
background:#2c3e50;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 15px;
z-index:1000;
}

.left{
display:flex;
align-items:center;
}

.logo{
height:40px;
margin-right:10px;
}

.title h3{
margin:0;
font-size:16px;
}

.title span{
font-size:12px;
}

.menu a{
color:white;
margin:0 10px;
text-decoration:none;
}

.menu input{
padding:5px;
border-radius:5px;
border:none;
}

/* LAYER PANEL */
.layer-panel{
position:absolute;
top:70px;
right:10px;
background:white;
padding:15px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
z-index:1000;
width:200px;
}

.layer-panel h4{
margin:10px 0 5px;
}

/* RESPONSIVE */
@media(max-width:768px){

.menu a{
display:none;
}

.menu input{
width:120px;
}

}
