/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

/* BODY FLEX SUPAYA MAP SELALU ADA */
body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    padding: 20px;
    background: linear-gradient(135deg, #0f766e, #14b8a6);
    color: white;
}

.header h1 {
    font-size: 24px;
}

.header p {
    margin-top: 5px;
    font-size: 14px;
}

.header span {
    font-size: 12px;
}

/* MAP FIX UTAMA */
#map {
    flex: 1; /* ini kuncinya */
    width: 100%;
}

/* INFO PANEL */
.info-panel {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 300px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    z-index: 999;
}

.info-header {
    background: #0f766e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#info-content {
    padding: 12px;
    font-size: 13px;
}

.hidden {
    display: none;
}

/* LEGEND */
.legend {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 8px 20px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    z-index: 999;
}

.legend-line {
    width: 30px;
    height: 6px;
    background: #06b6d4;
    display: inline-block;
    border-radius: 4px;
}

/* LABEL */
.label-jalan {
    background: #0f766e;
    color: white;
    font-size: 11px;
    padding: 3px 8px;
    border-radius: 20px;
}

/* MOBILE */
@media (max-width: 768px) {

    .header h1 {
        font-size: 18px;
    }

    .info-panel {
        width: 95%;
        left: 2.5%;
        top: auto;
        bottom: 80px;
    }

}
